<div class="row">
  <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
    <h1>Editing book</h1>
    <%= render 'form' %>
    <%= link_to 'Show', @book %> |
    <%= link_to 'Back', books_path %>
  </div>
</div>
